<!DOCTYPE html>
<html>
  <head>
    <title>ParentSquare Interview Texting Service</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= vite_client_tag %>
    <%= vite_javascript_tag "application" %>
    <script id="notice" type="application/json">
    <%= notice&.html_safe %>
    </script>
    <script id="configuration" type="application/json">
    <%= @javascript_configuration %>
    </script> 
  </head>

  <body id="app">
    
  </body>
</html>